---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Stack from '../components/sections/Stack.astro';
import Projects from '../components/sections/Projects.astro';
import Passions from '../components/sections/Passions.astro';
import Footer from '../components/layout/Footer.astro';
---

<Layout>
	<main>
		<Navbar />
		<Hero />
		<About />
		<Stack />
		<Projects />
		<Passions />
		<Footer />
	</main>
</Layout>
